#globalheader {
  /* Placement */
  margin-top: 0px;
  margin-bottom: 10px;
  /* Box */
  width: 100%;
  padding: 1em;
  background-color: #111111;
  border-bottom: 2px solid #0090B0;
  /* Text */
  text-align: left;
  font-family: Arial;
  font-size: 0.9em;
  color: #0090B0;
  /* Advanced */
  text-shadow: 3px 3px 3px #888888;
  box-shadow: 1px 1px 1px #888888;
}

#globalheader a, #globalheader a:link, #globalheader a:visited {
  /* Placement */
  margin-left: 1em;
  /* Text */
  text-decoration: none;
  color: #FFFFFF;
  /* Advanced */
  text-shadow: 1px 1px 1px #888888;
}

#globalheader a:hover {
  /* Text */
  text-decoration: none;
  color: #0090B0;
  /* Advanced */
  text-shadow: 1px 1px 1px #888888;
}